[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-ttw-entry-points-demo = { file = "." }

[dev-packages]
py-ttw-entry-points-demo = { file = ".", editable = true }
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-ruff = "*"
black = "*"
ipython = "*"
ruff = "*"
typer = "*"

[requires]
python_version = "3.12"

[scripts]
app-cli = "python -m entry_points_demo.commands.extras"
